/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



body {
    background-color: black;
    color: white; 
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    position: relative;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
